<h1>All Songs</h1>

<% if @songs %>
  <table style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Released</th>
      <th>Released Year</th>
      <th>Artist</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= song.released ? "Yes" : 
        "No"%></td>
        <td><%= song.release_year %></td>
        <td><%= song.artist_name %></td>
        <td><%= song.genre %></td>
        <td><%= link_to "Delete", song, method: :delete, data: { confirm: "Are you sure you want to delete this song?"}%> </td>
      </tr>
    <% end %>
  </tbody>
  </table><br>
  <%= link_to "Add a New Song", new_song_path %>

<% else %>
  <h4>No song to display right now</h4>
<% end %>